@charset "utf-8";
/* CSS Document */
body,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,input,span{ margin:0; padding:0}
body{ font-size:12px; line-height:1.7em; color:#666;}
ul{ list-style:none}
img{ border:none}
a{ text-decoration:none; color:#666;}
a:hover{ text-decoration:underline;}
.fl{ float:left}
.fr{ float:right}
.clear{ clear:both; overflow:hidden; height:0}
.center{ width:1000px; margin:0 auto;}
a:hover img {
	filter: alpha(opacity=80);
	opacity: 0.8;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}
.clearfix:after{
   content:".";/*加一段内容*/
   display:block;/*让生成的元素以块级元素显示，占满剩余空间*/
   height:0;/*避免生成的内容破坏原有布局高度*/
   clear:both;/*清除浮动*/
   visibility:hidden;/*让生成的内容不可见*/
  }
 .clearfix{zoom:1;/*为IE6，7的兼容性设置*/}

/* aside */
aside{width: 36px;height: 100%;background: #262626; position: fixed;right: 0;z-index: 7;}
aside .up{width: 36px;height: 500px;margin-top: 80px;}
aside .up div:first-child{width: 36px;height: 52px;position: relative;}
aside .up div:hover{background: #DF147F;}
aside .up div:first-child .user{width: 250px;height: 300px;background: #fff;border:1px solid #E5E5E5;position: absolute;left: -252px;top:0px;display: none;}
aside .up div:first-child .user p:first-child{width: 71px;height: 71px;margin: 20px auto;}
aside .up div:first-child .user p:nth-child(2){width: 100px;margin: 0 auto;}
aside .up div:first-child .user p:nth-child(2) a{color: #F10180;}
aside .up div:first-child .user div:nth-child(3){width: 247px;height: 80px;background: #F8F8F8;margin-top: 20px;border: 1px solid #E5E5E5;}
aside .up div:first-child .user div:nth-child(3) li:first-child{width: 123px;height: 60px;margin-top: 10px;border-right: 1px solid #E5E5E5;text-align: center;}
aside .up div:first-child .user div:nth-child(3) li:first-child p{width: 20px;height: 25px;background: url(../images/sprite-hash-681109b5.png)no-repeat;background-position: -202px -90px;margin: 5px auto;}
aside .up div:first-child .user div:nth-child(3) li:first-child:hover p{background-position: -202px 0;}
aside .up div:first-child .user div:nth-child(3) li:first-child:hover a{color: #F10180;text-decoration: none;}
aside .up div:first-child .user div:nth-child(3) li:last-child{width: 123px;height: 60px;margin-top: 10px;text-align: center;}
aside .up div:first-child .user div:nth-child(3) li:last-child p{width: 26px;height: 25px;background: url(../images/sprite-hash-681109b5.png)no-repeat;background-position: -200px -60px;margin: 5px auto;}
aside .up div:first-child .user div:nth-child(3) li:last-child:hover p{background-position: -200px -30px;}
aside .up div:first-child .user div:nth-child(3) li:last-child:hover a{color: #F10180;text-decoration: none;}
aside .up div:first-child .user p:last-child{margin-top: 25px;text-align: right;}
aside .up div:first-child .user p:last-child a{color: #20A0CD;}
aside .up div:first-child .user p:last-child:hover a{text-decoration: none;}
aside .up div:first-child .user p:nth-child(4){width: 20px;height: 20px;background: url(../images/sprite-hash-681109b5.png) no-repeat;background-position: -191px -166px;position: fixed;right: 38px;top: 80px;}
aside .up div:first-child:hover .user{display: block;}
aside .up div{position: relative;}
aside .up div:nth-child(3) p,aside .up div:nth-child(4) p,aside .up div:nth-child(5) p,aside .up div:nth-child(6) p{width: 100px;height: 40px;background: #fff;border: 1px solid #ddd;text-align: center;display: none;position: absolute;left: -102px;top:0;}
aside .up div:nth-child(3) p a,aside .up div:nth-child(4) p a,aside .up div:nth-child(5) p a,aside .up div:nth-child(6) p a{color: #333;line-height: 40px;}
aside .up div:nth-child(3):hover p,aside .up div:nth-child(4):hover p,aside .up div:nth-child(5):hover p,aside .up div:nth-child(6):hover p{display: block; }


/* header */
header .up{width:100%;height:30px;background: url(../images/header-up-bg.jpg) repeat-x;}
header .up select{width: 50px;height: 28px;background: rgba(0,0,0,0);border-style: none;color:#383838; }
header .up div li{padding-left:10px;width: 80px;height: 28px;float: left;line-height: 28px;background: url(../images/header-up-line.jpg)no-repeat right;position: relative;}
header .up div li:nth-child(8) span{width: 18px;height: 20px;display:inline-block;background: url(../images/sprites-hash-9b207a41.png)no-repeat left center;background-position:-293px -135px;}



header .up div li ul{width: 90px;height: 100px;background: #fff;position: absolute;left: 0;top:30px;border: 1px solid #DCDCDC;border-top: none;margin-top: -2px; display: none;}
header .up div li ul li{width: 80px;height: 32px;line-height: 32px;background: #fff;margin : 0;}
header .up div li:hover{background: #fff;border: 1px solid #DCDCDC;border-bottom: none;}
header .up div li:hover ul{display: block;}
header .up div li:hover li{border: none;}
header .up div li:hover li a{color: #000;}
header .up div li:hover li:hover a{color: #F87EBD;}
header .up div li:hover a{ color: #F87EBD;}

/* 登录二级导航 */
header .up div li:first-child dl{width: 300px;height: 200px;background: #fff;position: absolute;left: 0;top:30px;display: none;border: 1px solid #ccc;margin-top: -2px;z-index: 10;}
header .up div li:first-child dl dt span{display: inline-block;}
header .up div li:first-child dl dt span:first-child{width: 40px;height: 40px;background: url(../images/sprites-hash-9b207a41.png)no-repeat;background-position: -160px -140px;margin: 20px 0 0 20px;}
header .up div li:first-child dl dt span:last-child{width: 200px;height: 30px;border-bottom: 1px dashed #ccc;display: inline-block;margin-left:10px;}
header .up div li:first-child dl dd{width: 120px;float: left;margin-left: 30px;position: static;}
header .up div li:first-child:hover dl{display: block;}
header .up div li:first-child:hover dl a{color: #000;}
header .up div li:first-child:hover dl dt:hover a,header .up div li:first-child:hover dl p:hover a{color: #F87EBD;}

/* 签到有礼二级导航 */
header .up div li:nth-child(3) div{width: 480px;height: 152px;background: #fff;margin-left:-180px; border: 1px solid #ccc;display: none;position: relative;z-index: 10;}
header .up div li:nth-child(3) div .qd{width: 462px;height: 75px;margin: 30px 0;border: 1px solid #fff;}
header .up div li:nth-child(3) div .qd .day{width: 24px;height: 40px;margin-left:40px;border: none;}
header .up div li:nth-child(3) div .qd .day p:first-child{width: 24px;height: 16px;background: url(../images/sprites-hash-9b207a41.png)no-repeat;background-position: -164px -184px;}
header .up div li:nth-child(3) div .qd .day p:last-child{width: 24px;text-align: center;margin-top: 10px;}
header .up div li:nth-child(3) div .qd .line{width:383px;height: 2px;background: #ccc;margin: 7px auto; }
header .up div li:nth-child(3) div .a{width: 402px;height:40px;margin: -40px auto;border:none;border-top: 1px solid #F0F0F0; }
header .up div li:nth-child(3) div .a span:first-child{margin-top:18px;display: inline-block;}
header .up div li:nth-child(3) div .a span:last-child{width: 80px;height: 20px;background: #F10180;display: inline-block;float: right;margin-top:20px;border-radius: 5px;text-align: center;line-height: 20px;}
header .up div li:nth-child(3) div .a span:last-child a{color: #fff;}
header .up div li:nth-child(3) div .a span:last-child:hover a{background: rgba(0,0,0,0.5);}
header .up div li:nth-child(3):hover div{display: block;}


header .middle{width: 100%;height: 120px;}
header .middle .center div{float: left;height: 100px;}
header .middle .center div dt{width:150px;height:90px;background: url(../images/sprites-hash-9b207a41.png)no-repeat;background-position: 0 -95px;float: left;}
header .middle .center div dd{width: 50px;height: 30px;float: left;margin-top: 40px;padding-left: 50px;}
header .middle .center div dd:nth-child(2){background: url(../images/sprites-hash-9b207a41.png);background-position: 0 -30px;}
header .middle .center div dd:nth-child(3){background: url(../images/sprites-hash-9b207a41.png);background-position: -100px -30px;}
header .middle .center div dd:nth-child(4){background: url(../images/sprites-hash-9b207a41.png);background-position: -200px -30px;}
header .middle .center div div:first-child{width: 300px;height: 30px;background: #fff;border:1px solid #000;border-radius: 5px; overflow: hidden;margin: 45px 0 0 70px;}
header .middle .center div div:first-child input{width: 275px;height: 30px;border: none;}
header .middle .center div div:first-child input:focus{outline: none;}
header .middle .center div div:first-child span{width: 25px;height: 25px;display: inline-block; background: url(../images/sprites-hash-9b207a41.png)no-repeat right;background-position: -68px -200px;vertical-align: -6px;}
header .middle .center div div:last-child{width: 90px;height: 25px;background: #F7F7F7;padding: 5px 10px;border: 1px solid #DDD;border-radius: 5px;margin: 45px 0 0 65px;}
header .middle .center div div:last-child span:first-child{width: 20px;height: 25px;display: inline-block;background: url(../images/sprites-hash-9b207a41.png)no-repeat;background-position: -89px -200px;vertical-align: -5px;}
header .middle .center div div:last-child span:last-child{width: 25px;height: 15px;display: inline-block;background: #F00581;border-radius: 10px;text-align: center;color: #fff;line-height: 15px;}


header .down{width: 100%;height: 40px;background: #F10180;margin: 0;padding: 0; z-index: 5;position: absolute;}
header .on{position: fixed;top:0;}
header div
header .down .center div:first-child ul{width: 500px;height: 40px;background: #ccc;float: left;}
header .down .center div:first-child ul li{width: 60px;height:40px;float: left;text-align: center;position: relative;}
header .down div:first-child li ul{width: 540px;height: 230px;background: #fff;box-shadow: 0 1px 1px 1px #ccc;display: none; position: absolute;}
header .down div:first-child li:hover ul{display: block;}
header .down .center div:first-child li ul li{width: 170px;height: 96px;float: left;margin-top:10px;margin-left: 8px; position: relative;}
header .down .center div:first-child li ul li p{width: 100%;height: 20px;background: rgba(0,0,0,0.5);position: absolute;bottom: 0;color: #fff;}
header .down .center div:first-child li ul li:hover{background: rgba(0,0,0,0.8);}
header .down div li a{font-size: 16px;color: #fff;line-height: 40px;}
header .down div li:hover{background: #BD1067;}
header .down .center div:last-child ul{width: 200px;height: 40px;float: right;}
header .down .center div:last-child ul li{width: 100px;height: 40px;float: right;text-align: center;}
header .down .center div:last-child ul li .fenl{width: 20px;height: 32px;display: inline-block;background: url(../images/1470377526197.png)no-repeat;vertical-align: -10px;}
header .down .center div:last-child ul li .yg{width: 20px;height: 32px;display: inline-block;background: url(../images/1470377501079.png)no-repeat;vertical-align: -10px;}

/* banner */
.banner .bg{width: 100%;height: 400px;background: url(../images/a3-banner-bg.jpg)no-repeat top center;margin-top:40px;}
.banner .line{width: 380px;height: 50px;background: url(../images/sprites-hash-d121d244.png)no-repeat top center;margin: 0 auto;}
.banner .center{background: #fff;}
.banner .clothes{width: 100%;height: 305px; background: #fff;border: 1px solid #FF6F8A;margin-top: 20px;}
.banner .clothes dt{width: 143px;height: 305px;float: left;}
.banner .clothes dt li{width: 143px;height: 50px;text-align: center;background: #FF6F8A;border-bottom: 1px solid #fff;}
.banner .clothes dt li:last-child{border: none;}
.banner .clothes dt li a{font-size: 16px;line-height: 61px;color: #fff;line-height: 50px;}
.banner .clothes dt li:first-child{background: #fff;}
.banner .clothes dt li:first-child a{color: #FF6FA8;}
.banner .clothes dt li:hover{background: #fff;}
.banner .clothes dt li:hover a{color: #FF6FA8;}
.banner .clothes dd{width: 171px;height: 112px;float: left;text-align: center;margin: 15px 0 20px 0;}
.banner .clothes dd img{width: 100px;height: 100px;}
.banner .clothes dd p{font-size: 14px;color: #FF6FA8;}

/* con */
.con .line{width: 100%;height: 68px;background: url(../images/today_DDp.png)no-repeat center;margin: 30px 0;}
.con .goods{width: 100%;margin: 20px 0;background: #fff;}
.con .goods ul{width: 490px;height:300px;float: left;margin-right: 10px; position: relative;}
.con .goods ul li:first-child{height: 490px;height: 235px;}
.con .goods ul li:first-child img{width: 100%;}
.con .goods ul li:nth-child(2){width: 490px;height: 25px;background: rgba(0,0,0,0.5);color: #fff;position: absolute;left: 0;top: 210px;line-height: 25px;}
.con .goods ul li:nth-child(2) span:first-child{width:300px;height: 20px;display: inline-block;float: left;margin-left: 20px; }
.con .goods ul li:nth-child(2) span:last-child{display: none;}
.con .goods ul:hover li:nth-child(2) span:last-child{width: 80px;height: 20px;display: inline-block;float: right;margin-right: 20px;background: #fff;border-radius: 5px;line-height: 20px;text-align: center;margin-top:2px;}
.con .goods ul:hover li:nth-child(2) span:last-child a{color: #000;}
.con .goods ul:hover li:nth-child(2) span:last-child:hover{background: #F10582;}
.con .goods ul:hover li:nth-child(2) span:last-child:hover a{color: #fff;}
.con .goods ul li:nth-child(3){margin-top: 10px;}
.con .goods ul li:nth-child(3) span{display: inline-block; font-size: 22px;color: #F10582;font-weight: bold;margin-left: 20px;float: left;}
.con .goods ul li:nth-child(3) .time{float: right;}
.con .goods ul li:nth-child(3) p{display: inline-block;float: right;margin-right: 40px;}





/* footer */
footer{width: 100%;background: #FCFCFC;}
footer p{margin-left: 50px;padding: 30px 0;}
footer p img{width: 95%}
footer ul{margin-left: 10px;}
footer li{width:165px; float: left;}
footer li ul{width: 164px;margin: 0;}
footer li ul li a{background: url(../images/footer-hash-3de6f1ae.png)no-repeat -6px -494px;padding-left: 10px;}
footer li ul li:hover a{background: url(../images/footer-hash-3de6f1ae.png)no-repeat -6px -514px;padding-left: 10px;color: #F87EBD;text-decoration: none;}
footer .center div{width: 840px;height: 30px;background: #D7237E;padding-left:160px;margin-top: 20px;}
footer .center div span a{font-size: 10px;line-height: 30px;color: #fff;}
footer .center div span:hover a{color: #ddd;text-decoration: none;}
footer p:nth-child(4){width: 745px;margin: 10px auto;padding: 0;}
footer p:nth-child(4) a{color: #808080;}
footer p:nth-child(4) a:hover{color:#F87EBD;text-decoration: none; }
footer p:nth-child(5) img{width: 10px;}
footer p:nth-child(5){width: 745px;margin: 10px auto;padding: 0;}
footer p:nth-child(5) a{color: #808080;}
footer p:nth-child(5) a:hover{color:#F87EBD;text-decoration: none; }
footer p:nth-child(6){width: 590px;margin: 0 auto;padding: 10px 0;}
footer p:nth-child(6) a{height: 40px;display: inline-block; background: url(../images/footer-hash-3de6f1ae.png)no-repeat;}
footer p:nth-child(6) a:first-child{width: 105px;}
footer p:nth-child(6) a:nth-child(2){width: 99px;background-position: 0 -150px;}
footer p:nth-child(6) a:nth-child(3){width: 66px;background-position: 0 -200px;}
footer p:nth-child(6) a:nth-child(4){width: 70px;background-position: 0 -250px;}
footer p:nth-child(6) a:nth-child(5){width: 75px;background-position: 0 -300px;}
footer p:nth-child(6) a:nth-child(6){width: 76px;background-position: 0 -400px;}
footer p:nth-child(6) a:nth-child(7){width: 76px;background-position: 0 -450px;}
footer .survey{width: 111px;height: 35px;position: fixed;right: 50px;bottom: 0;padding: 0;}