*{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration: none;color: #666666;}
a:hover{text-decoration: none;}
i{font-style: normal;}
body{width: 100%;height: 100%;}



/* nav */
nav{width: 100%;}
nav video{width:100%;}

/* tage */
#tage{width: 100%;height: 40px;line-height: 40px;}
#tage ul{width: 100%;display: flex;justify-content: space-around;}
#tage ul li{width: 40%;text-align: center;}
#tage ul li a{color: #000;padding: 7px;}
#tage ul li img{width: 20px;vertical-align: middle;}
#tage ul li span{font-size: 0.7rem;color: #ccc;}


#tage .tage-on a{color: #2DB72A;border-bottom:2px solid #2DB72A;}











/* footer */
footer{width: 100%;height: 50px;position: fixed;bottom: 0;background: #f9f9f9;padding-top:10px;border-top:1px solid #E2E2E2;z-index: 100;}
footer img{width: 20px;margin-bottom: -4px;}
footer ul{width: 100%;display:flex;justify-content: space-evenly;align-items: baseline;}
footer ul li{width: 30px;text-align: center;}
footer ul li a{color: #333;font-size: 6px;}
footer ul li.on a{color: #0BBE06;}

