*{margin:0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
i{font-style: normal;}
body{width: 100%;height: 100%;}
.fl{float: left;}
.fr{float: right;}



/* header */
header{width: 98%;height: 50px;background: #2F2E33;padding: 1%;position: fixed;top:0;z-index: 100;}
header #main{width: 100%;}
header #main ul{width: 160px;display:flex;justify-content: space-around;margin:10px auto;}
header #main ul li{width: 50px;height: 25px;text-align: center;}
header #main ul li a{color:#fff;}

header #header-right{width: 50px;text-align:center;position: absolute;top:15px;right:0;}
header #header-right img{width: 25px;}

header #main li.on{border-bottom: 2px solid #0BBE06;}
header #main li.on a{font-weight: bold;color: #0BBE06;}


/* main */
main{width: 100%;margin-top:55px;}
main ul{width: 100%;}
main ul li{width: 100%;position: relative;}
main ul li video{width: 100%;}
main ul li div.video-down{width: 100%;height: 40px;border-bottom:10px solid #E2E2E2;line-height:40px;}
main ul li div.video-down div.video-left{width: 50%;position: relative;height: 40px;}
main ul li div.video-down div.video-left .video-per{width: 30px;height: 30px;overflow: hidden;border-radius:50px;margin:3px 10px 0 10px;}
main ul li div.video-down div.video-left .video-per img:first-child{width: 100%;}
main ul li div.video-down div.video-left .video-per img:last-child{width: 16px;position: absolute;left:30px;bottom:3px;background: #fff;border-radius: 16px}
main ul li div.video-down div.video-left span{font-size: 10px;}
main ul li div.video-down div.video-left span.video-middle{color: #E2E2E2;}
main ul li div.video-down div.video-left span.video-follow{color: #20bc22;}
main ul li div.video-down div.video-right{width: 50%;height: 40px;line-height: 40px;color: #999999;text-align: right;}
main ul li div.video-down div.video-right .video-handle{width: 30px;height: 30px;display:inline-block; background: url(../images/player-handle-20180118.png) no-repeat;background-size: cover;position: relative;top:5px;}
main ul li div.video-down div.video-right .handle-num{height: 6px;display: inline-block;width: 20px;font-size: 6px;position: absolute;top:-15px;right: -15px;}
main ul li div.video-down div.video-right .video-like{width: 30px;height: 30px;display:inline-block; background: url(../images/player-handle-20180118.png) no-repeat -30px 0;background-size: cover;position: relative;top:5px;margin-left: 10px}
main ul li div.video-down div.video-right .like-num{height: 6px;display: inline-block;width: 20px;font-size: 6px;position: absolute;top:-15px;right: -15px;}
main ul li div.video-down div.video-right .video-more img{width: 20px;margin:0 10px 0 25px;}




/* marg */
#marg{width: 100%;height: 60px;position: relative;bottom: 0;background: #000;}



/* footer */
footer{width: 100%;height: 50px;position: fixed;bottom: 0;background: #f9f9f9;padding-top:10px;border-top:1px solid #E2E2E2;z-index: 100;}
footer img{width: 20px;margin-bottom: -4px;}
footer ul{width: 100%;display:flex;justify-content: space-evenly;align-items: baseline;}
footer ul li{width: 30px;text-align: center;}
footer ul li a{color: #333;font-size: 6px;}
footer ul li.on a{color: #0BBE06;}



@media only screen and (min-width:400px){
    main .main-tj{width: 48%;height: 170px;}
    .chat .down{width: 100%;height: 120px; overflow: auto;position: relative;}
}