*{margin:0;padding: 0;}
li{list-style:none;}
a{text-decoration: none;color: #666;}
a:hover{text-decoration: none;}
i{font-style: normal;}
body{width: 100%;height: 100%;}


/* header */
header{width: 100%;height: 90px;background: #3d3d3d;}
header #top{width: 100%;height: 45px;overflow: hidden;border-bottom:1px solid #353535}
header #top dl{margin-top:10px;width: 100%;}
header #top dt{float:right;margin-right: 20px;}
header #top dt img{width: 20px;}
header #top dd{float:left;margin-left: 20px;font-size: 16px;color: #D0D0D0;font-weight: bold;}
header #top dd.top-on{color: #E1BA8B;}

header #down{width: 100%;overflow: hidden;}
header #down ul{width: 160%; display:flex;justify-content: space-evenly;margin-top:5px;}
header #down ul li{height: 30px;font-size:16px;color:#D0D0D0;line-height: 30px;}
header #down ul li.down-on{color:#E1BA8B;font-weight: bold;border-bottom:2px solid #E1BA8B;}

#banner{width: 100%;}
#banner img{width: 100%;}





/* footer */
footer{width: 100%;height: 50px;background: #f9f9f9;padding-top:10px;border-top:1px solid #E2E2E2;position: fixed;bottom: 0;z-index: 100;}
footer img{width: 20px;margin-bottom: -4px;}
footer ul{width: 100%;display:flex;justify-content: space-evenly;align-items: baseline;}
footer ul li{width: 30px;text-align: center;}
footer ul li a{color: #333;font-size: 6px;}
footer ul li.on a{color: #0BBE06;}